* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

// button {
//   display: inline-block;
//   padding: 0.8rem 2rem;
//   transition: all 0.5s;
//   border: none;
//   cursor: pointer;
// }

body {
  font-family: "Raleway", sans-serif;
  line-height: 1.6;
  font-weight: 400;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

img {
  width: 100%;
}

h2 {
  text-align: center;
}

.container {
  max-width: 1280px;
  padding: 0 1.5rem;
  margin: auto;
  overflow: hidden;
}

.header-home {
  background: url("img/joan-gamell-ZS67i1HLllo-unsplash.jpg") no-repeat right /
    cover;
  color: #fff;
  height: 100vh;
  position: relative;
}

.header-home::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.3);
}

.header-home * {
  z-index: 8;
}

.header-content {
  display: flex;
  flex-direction: column;
  //text-align: center justify;
  padding-top: 20%;
}

.header-content h1 {
  font-size: 6rem;
  font-weight: 300;
}

.lead-1 {
  font-size: 2rem;
  margin-bottom: -2rem;
}

.lead-2 {
  font-size: 2rem;
  margin-top: -1.5rem;
}

.main-nav {
  display: flex;
  justify-content: space-between;
  padding-top: 1rem;
  //position: fixed;
  top: 0px;
}

.main-nav ul {
  display: flex;
}

.main-nav ul li {
  padding: 1rem 1.5rem;
}

.main-nav ul li a {
  color: #fff;
  border-bottom: 3px transparent solid;
  padding-bottom: 0.5rem;
  transition: border-color 0.5s;
  font-size: 1.3rem;
}

.main-nav ul li a:hover {
  border-color: turquoise;
}

.logo {
  width: 70px;
  height: 70px;
  font-size: 40px;
}

#work {
  display: flex;
  justify-content: space-evenly;
}

.work-card {
  text-align: center;
}
